// >>-- 39 Timeline css start --<<

@mixin timeline_mixin($name, $color) {
  .timeline-#{$name} {
    background-color: rgba(#{$color}, 0.14);
    border: 1px solid rgba(#{$color}, 1);
  }
}
@each $name, $color in $colors {
  @include timeline_mixin($name, map-get($colors, $name));
}
.app-timeline {
  .timeline-text {
    display: flex;
    position: relative;
    min-height: 60px;
    margin-top: 44px;
    &::before {
      content: "";
      position: absolute;
      bottom: -40px;
      top: 42px;
      left: 18px;
      border-left: 2px dotted rgb(var(--dark), 0.1);
    }
    &:last-child{
      &::before{
        display: none;
      }
    }
    .app-timeline-info-text {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      margin-left: 10px;
    }
  }
  &.timeline-both {
    .timeline-text {
      .app-timeline-info-text {
        &.timline-left {
          left: 28%;
        }
      }
    }
    .app-timeline-info-text {
      margin-left: 16px;
      width: calc(50% - 50px);
    }
  }
}
// -----------timeline-3-start----------

.timeline-horizontal {
  .main-timeline-section {
    position: relative;
    width: 100%;
    height: 340px;
    .conference-timeline-content {
      div:nth-child(3){
        z-index: 1111;
        background: var(--white);
        position: absolute;
        right: 0px;
        bottom: 151px;
        height: 39px;
        width: 46px;
      }
      .draggable{
        height: 340px;
      }
      .fa-arrow-left {
        left: 1px;
        @extend %arrow;
      }
      .fa-arrow-right {
        right: 1px;
        @extend %arrow;
      }
    }
    .conference-center-line {
      margin-left: 45px;
      position: absolute;
      width: 94%;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid rgb(var(--secondary), 0.5);
    }
    .timeline-article {
      position: relative;
      min-height: 300px;
      .content-box {
        position: absolute;
        left: 40px;
        box-shadow: none;
        &.content-box-bottom {
          bottom: -30px;
        }
        &.content-box-top{
          top: 30px;
        }
      }
      .meta-date {
        position: absolute;
        top: 50%;
        left: 237px;
        border-radius: 50%;
        background: var(--white);
      }
    }
  }
  .slick-prev:before {
    content: "â†";
  }
  .timeline-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0px;
  }
  .slick-prev,
  .slick-next {
    top: 168px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 32px;
  }
  .slick-prev:before,
  .slick-next:before {
    color: rgb(var(--primary), 1);
  }
  .slick-prev {
    z-index: 10;
    left: 6px;
  }
  .slick-next {
    top: 167px;
    right: 12px;
  }
}
%arrow {
  position: absolute;
  top: 50%;
  font-size: 18px;
  transform: translateY(-50%);
  background-color: rgb(var(--primary), 0.1);
  color: rgb(var(--primary), 1);
  padding: 10px;
  border-radius: 10px;
  z-index: 11;
}
.timeline-horizontal {
  .main-timeline-section {
    position: relative;
    width: 100%;
    height: 340px;
    .conference-timeline-content {
      div:nth-child(3){
        z-index: 1111;
        background: var(--white);
        position: absolute;
        right: 0px;
        bottom: 151px;
        height: 39px;
        width: 46px;
      }
      .draggable{
        height: 340px;
      }
      .fa-arrow-left {
        left: 1px;
        @extend %arrow;
      }
      .fa-arrow-right {
        right: 1px;
        @extend %arrow;
      }
    }
    .conference-center-line {
      margin-left: 45px;
      position: absolute;
      width: 94%;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid rgb(var(--secondary), 0.5);
    }
    .timeline-article {
      position: relative;
      min-height: 300px;
      .content-box {
        position: absolute;
        left: 40px;
        box-shadow: none;
        &.content-box-bottom {
          bottom: -30px;
        }
        &.content-box-top{
          top: 30px;
        }
      }
      .meta-date {
        position: absolute;
        top: 50%;
        left: 237px;
        border-radius: 50%;
        background: var(--white);
      }
    }
  }
  .slick-prev:before {
    content: "â†";
  }
  .timeline-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0px;
  }
  .slick-prev,
  .slick-next {
    top: 168px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 32px;
  }
  .slick-prev:before,
  .slick-next:before {
    color: rgb(var(--primary), 1);
  }
  .slick-prev {
    z-index: 10;
    left: 6px;
  }
  .slick-next {
    top: 167px;
    right: 12px;
  }
}

// -----------timeline-3-end------------


// >>-- 39 Timeline css end --<<